<p>
	BIENVENIDO A MELIUZ
</p>
<p>
En esta pagina encontrara toda la informacion de tus peliculas favoritas
</p>
<p>
	En los campos de pelicula tendremos: <br>
  - id <br>
  - Nombre <br>
  - Recaudacion de la entrada <br>
  - Numero de dias emitida la pelicula <br>
  - Sueldo por actor participante<br>
  - Numero de actores participantes <br>
</p>
<p>
En los campos de actores tendremos: <br>
- Codigo <br>
- Nombre <br>
- Peliculas Realizadas <br>
- Tiempo en pantalla <br>
- Veces Protagonista <br>
- Veces Antagonista <br>
</p>